

<mat-list role="list" *ngFor= "let diag of diags, let index = index" >
  <mat-list-item role="listitem">
    {{diag}}<mat-icon (click)="remove(index)">delete</mat-icon></mat-list-item>
</mat-list>

<mat-form-field appearance="fill">
  <mat-label>Ajouter un diagnostic</mat-label>
  <textarea matInput [(ngModel)]=diagnostic></textarea>
</mat-form-field>

<mat-divider></mat-divider>
<section>
  <div class="example-button-row">
    <button mat-raised-button color="basic" (click)="add()">Ajouter</button>
  </div>
</section>
<mat-divider></mat-divider>




